@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>Admin page
        <li><a asp-controller="Category" asp-action="Index">To Categories page</a></li>
        <li><a asp-controller="Good" asp-action="Index">To Goods page</a></li>
    </ul>
</div>
